
body {
    background-color: #121214;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
}

#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 10px 20px;
    border: 1px solid #2a2a30;
}

.logo-group{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 40px;
    margin-left: 50px;
}

.material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #85bb65;

}

#name{
    margin: 0;
}

#table-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    gap: 20px;
    height: 85vh;
    box-sizing: border-box;
}

.dashboard-col {
    display:flex;
    flex-direction: column;
    gap: 20px;
    height: 100;
}

.col-wide{
    width: 40%;
}

.col-narrow{
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-height: 0;

}

.table-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1a1a1e;
    border: 1px solid #2a2a30;
    padding: 20px 0px;
    border-radius: 8px;
}

.top-table, .top-table-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 20px;
    box-sizing: border-box;
    min-height: 28px;
}

.coins-table th{
    color: #ffffff;
    background-color: #36363e;
    padding: 10px 20px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}


.table-caption{
    color: #ffffff;
    margin: 0px;
}

.add-coin-btn{
    margin: 0px;
    background-color: #121214;
    border: 1px solid #3a3a42;
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;

}

.coins-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}


.gainer-text{
     color: #85bb65 !important;
}

.loser-text{
    color: red !important;
}

.coins-table td {
    padding: 14px 20px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.coins-table tbody tr{
    border-bottom:  1px solid #2a2a2a;
}

.table-wrap, .table-headers{
    max-height: 280px;
    overflow-y: auto;
}

.stat-row{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #2a2a30;
}

.search-box{
    display: flex;
    gap: 8px;
}

.search-box input{
    background-color: #121214;
    border: 1px solid #3a3a42;
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 4px;
    width: 120px;
}

#search-btn, .add-coin-btn{
    margin: 0px;
    background-color: #36363e;
    border: 1px solid #4a4a54;
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 4px;
}

#market-overview .stats-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#market-overview .stat-row:last-child{
    border-bottom: none;
}
#market-overview .stats-container, #research-block .data-grid{
    padding: 0 24px;
    box-sizing: border-box;
}
#research-block .stat-row:last-child{
    border-bottom: none;
}